<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин автозапчастей</title>
    <link rel="stylesheet" href="https://use.typekit.net/iji6old.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'>
</head>

<body>
{% include 'include/_navbar.html' %}
{% block content %}


{% endblock content %}
{% include 'include/_footer.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
</body>
</html>